* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --white: white;
    --red: red;
    --grey: rgb(93, 93, 93);
    --light-blue: #4992ff;
    --dark-blue: #0066ff;
    --doctor-bg: #d8e3ed;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
}

h2 {
    font-size: 30px;
    color: black;
}

/* Custom Scrollbar CSS */

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
}

::-webkit-scrollbar-thumb {
    background: var(--light-blue);
}

::-webkit-scrollbar-thumb:hover {
    background: var(--dark-blue);
}

/* Loading Animation CSS */

#preloader-animation {
    position: fixed;
    width: 100%;
    height: 100svh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
    transition: 1s;
    background-color: var(--white);
}

#preloader-animation img {
    width: 50px;
    height: 50px;
    animation: rotate 1s linear infinite;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

/* Header and Navigation bar CSS */

header .main-header {
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    padding: 0 20px;
}

header .main-header .main-header-logo {
    max-width: 250px;
    width: 100%;
}

.main-header .header-details {
    display: flex;
    align-items: center;
    gap: 10px;
}

.main-header .header-details img {
    display: flex;
    width: 30px;
    height: 30px;
}

.header-details .header-detail-text p:first-child {
    font-size: 12px;
    font-weight: 400;
}

.header-details .header-detail-text p {
    font-weight: 500;
}

.header-flag-container {
    display: flex;
    align-items: center;
    gap: 5px;
}

@media screen and (max-width:1060px) {
    .main-header .header-details {
        display: none;
    }

    .main-header .doctor-image {
        display: none;
    }
}

/* Responsive Navigation Bar */

.nav-bg-color {
    background-color: var(--light-blue);
}

nav {
    max-width: 1300px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    padding: 0 0 0 20px;
}

nav .navbar-links {
    list-style-type: none;
    display: flex;
    gap: 30px;
}

nav .navbar-links a {
    text-decoration: none;
    color: var(--white);
}

nav .navbar-links a:hover {
    text-decoration: underline;
    text-underline-offset: 5px;
}

.nav-search-container {
    position: relative;
}

.nav-search-container .search-icon {
    position: absolute;
    filter: invert();
    width: 20px;
    height: 20px;
    top: 17px;
    left: 10px;
}

nav .nav-search {
    padding: 20px 10px 20px 50px;
    color: var(--white);
    outline: none;
    border: none;
    background-color: var(--dark-blue);
}

nav .nav-search::placeholder {
    color: var(--white);
}

nav .menu-icon {
    display: none;
}

nav .menu-icon img {
    filter: invert();
    width: 30px;
    height: 35px;
}

/* Mobile Responsive Navigation bar CSS */
.mobile-menu {
    display: none;
    position: absolute;
    width: 100%;
    background-color: var(--light-blue);
}

.mobile-menu .mobile-links {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
}

.mobile-menu .mobile-links a {
    text-decoration: none;
    color: var(--white);
}

.mobile-menu .mobile-links a:hover {
    text-decoration: underline;
    text-underline-offset: 5px;
}

@media screen and (max-width:1060px) {
    nav .navbar-links {
        display: none;
    }

    nav .menu-icon {
        display: flex;
    }
}

@media screen and (min-width: 1060px) {
    .mobile-menu {
        display: none;
        visibility: hidden;
    }
}

/* Hero Section CSS */

.hero-bg-image {
    position: absolute;
    object-fit: cover;
    object-position: center;
    z-index: -100;
    filter: brightness(90%);
}

.hero-container {
    max-width: 1300px;
    margin: 0 auto;
    height: 400px;
    display: flex;
    align-items: center;
    padding: 20px;
    color: var(--white);
}

.hero-container>div {
    max-width: 570px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.hero-container .hero-heading {
    font-weight: 500;
}

.hero-container>div span {
    font-weight: 600;
    color: var(--red);
}

.hero-container>div h1 {
    font-size: 40px;
}

.hero-container .hero-btn {
    margin-top: 20px;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    font-weight: 500;
    padding: 10px 40px;
    border: none;
    outline: none;
    color: var(--white);
    background-color: var(--light-blue);
    transition: transform 0.3s;
}

.hero-container .hero-btn:hover {
    cursor: pointer;
    transform: scale(1.05);
    background-color: var(--dark-blue);
}

/* Navigation Section CSS */

.section-navigation {
    max-width: 1300px;
    margin: 0 auto;
    padding: 20px;
}

.section-navigation ul {
    width: 100%;
    margin: 0 auto;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.section-navigation ul a {
    text-decoration: none;
    font-weight: 500;
    color: var(--grey);
}

@media screen and (max-width: 1060px) {
    .section-navigation {
        display: none;
    }
}

/* Overview Section CSS */

.section-container {
    max-width: 1300px;
    margin: 0 auto;
    padding: 20px;
}

.treatment-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 100px;
    padding: 50px 0;
    border-bottom: 2px dashed var(--light-blue);
}

.treatment-container>div {
    flex: 1;
}

.treatment-container>div:first-child {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.treatment-container h2 span {
    color: var(--red);
}

.treatment-container p {
    font-size: 14px;
    font-weight: 600;
    color: var(--grey);
}

.treatment-container .treatment-image img {
    width: 100%;
    height: auto;
}

@media (max-width: 900px) {
    .treatment-container {
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }

    .treatment-container .treatment-image img {
        max-width: 100%;
    }
}

/* Form Sections CSS */

.additional-sections {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 50px;
}

.additional-sections>div {
    max-width: 800px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.additional-sections .additional-details {
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 50px 0;
    font-size: 14px;
    font-weight: 600;
    color: var(--grey);
    border-bottom: 2px dashed var(--light-blue);
}

.additional-details h2 span {
    color: var(--red);
}

.additional-details ul {
    list-style: circle;
    list-style-position: inside;
}

.additional-details ul li::marker {
    font-size: 20px;
    color: var(--light-blue);
}

@media screen and (max-width: 900px) {
    .additional-sections {
        flex-direction: column;
        align-items: center;
    }
}


/* Sticky form CSS Here */

.sticky-form {
    max-width: 350px;
    min-width: 300px;
    width: 100%;
    position: sticky;
    top: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 10px;
    background-color: var(--white);
    box-shadow: 0px 0px 3px var(--grey);
}

.sticky-form h3 {
    font-size: 25px;
    font-style: italic;
    color: var(--light-blue);
}

.sticky-form input,
.sticky-form textarea {
    max-width: 100%;
    min-width: 100%;
    width: 100%;
    padding: 15px;
    outline: none;
    border-radius: 5px;
    border: 1px solid rgb(189, 189, 189);
}

.sticky-form textarea {
    min-height: 100px;
}

.sticky-form .submit-btn {
    width: 100%;
    padding: 15px;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 500;
    border: none;
    color: var(--white);
    background-color: var(--light-blue);
    transition: background-color 0.3s;
}

.sticky-form .submit-btn:hover {
    cursor: pointer;
    background-color: var(--dark-blue);
}

/* Disable spinners in Chrome */
.sticky-form input[type="number"]::-webkit-inner-spin-button,
.sticky-form input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Patient Stories section CSS */

.patient-stories {
    margin-top: 100px;
    max-width: 800px;
}

.patient-stories h2 {
    margin-bottom: 30px;
}

.owl-carousel .patient-story-container {
    padding: 20px;
    border: 1px solid rgb(168, 168, 168);
}

.patient-story-container .p-story-heading {
    display: flex;
    align-items: center;
    justify-content: center;
}

.patient-story-container .p-story-content {
    margin: 20px 0;
}

.patient-story-container .p-story-content img {
    max-height: 200px;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.patient-story-container .p-profile-details {
    display: flex;
    align-items: center;
    gap: 15px;
}

.patient-story-container .p-profile-details p {
    font-weight: 600;
    font-size: 13px;
    color: var(--grey);
}


/* Doctor Details Container CSS */

.doctor-details {
    padding: 70px 20px;
    background-color: var(--doctor-bg);
}

.doctor-heading {
    text-align: center;
    margin-bottom: 50px;
}

.doctor-heading p {
    font-size: 20px;
    font-style: italic;
    font-weight: 600;
    color: var(--red);
}

.doctor-heading h2 span {
    color: var(--dark-blue);
}

/* Doctor Carousel CSS */

.doctor-carousel {
    max-width: 1200px;
    margin: 0 auto;
}

.doc-info-container {
    padding: 20px;
    background-color: var(--white);
}

.doc-image {
    width: auto;
    height: 350px;
    margin-bottom: 30px;
    background-color: pink;
}

.doc-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.doc-info h4 {
    font-style: italic;
    color: var(--red);
}

.doc-info p {
    font-weight: 600;
    color: var(--grey);
}

.doc-info .doc-degree {
    font-size: 13px;
}

/* Doctor Details Container CSS */

.hospital-details {
    padding: 70px 20px;
}

/* Hospital Card CSS */

.h-info-container {
    border-radius: 10px;
    border: 2px dashed var(--red);
}

.h-info-container .h-image img {
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    object-fit: cover;
}

.h-info-container .h-info {
    margin-top: 15px;
    text-align: center;
}

.h-info-container .h-info h3 {
    font-size: 22px;
}

.h-info-container .h-info p {
    font-weight: 600;
    font-size: 18px;
    font-style: italic;
    color: var(--red);
    margin-bottom: 20px;
}

.hospital-sub-heading {
    margin-top: 30px;
    text-align: center;
    font-size: 17px;
    font-weight: 500;
}

.hospital-sub-heading a {
    color: var(--red);
}

/* Carousel Custom Dots Color CSS */

.custom-dots {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.custom-dots .owl-dot {
    background: var(--grey) !important;
    width: 10px;
    height: 10px;
    margin: 0 5px;
    border-radius: 50%;
}

.custom-dots .owl-dot.active {
    background: var(--light-blue) !important;
}